.title{
    margin-top: 120px;
    font-size: 30px;
}
.size{
    width: 230px;
    height: 230px;
}
.center {
    align-items: center;
}
.bloque{
    padding-left:110px;
}
.bloque p{
    line-height: 17px;
}
.bloque-inverso{
    padding-left: 0;
    padding-right: 90px;
    line-height: 17px;

}
